@{
    ViewData["Title"] = "Inicio";
}


<h1 class="display-4">Bienvenidos</h1>
<h2>Prueba Técnica para Desarrollador</h2>
<h2><i>Juan Antonio Sanjuán Cuéllar C.C. 80.186.839</i></h2>
<h2>Registro de requerimientos de adquisiciones</h2>
<img src="~/image/logo.png" />
<p> Administradora de los Recursos del Sistema General de Seguridad Social en Salud <a href="https://www.adres.gov.co/">Adres</a>.</p>

